.trigger {
    font-size  : 18px;
    line-height: 64px;
    padding    : 0 24px;
    cursor     : pointer;
    transition : color 0.3s;
}

.dropdown {
    padding: 0 24px 0 12px;
    margin : 0 24px 0 12px;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height     : 32px;
    margin     : 16px;
    text-align : center;
    line-height: 32px;
    font-weight: bold;
    font-size  : 1.3em;
}

.large-logo-font {
    font-size: 1.5rem;
}

.layout-content {
    display   : flex;
    min-height: 480px;
    overflow  : auto;

    .left-part {
        flex      : 0 0 350px;
        background: #fff;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
        overflow  : hidden;
    }

    .right-part {
        padding   : 16px;
        margin    : 16px;
        background: #fff;
        flex      : 1;
    }
}